.navbar_wrapper {
    width: 390px;
    height: 100%;
    /*padding-left: 20px;*/
}
.marker {
    width: 100%;
    height: 8%;
    background: #F7F8FC;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.marker_title {
    color: #6D6E85;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    padding: 20px;
}
.navbar {


}

.todo_item {
    padding: 10px 0;
    border: 1px solid rgba(38, 40, 66, 0.12);
    cursor: pointer;
}
.inside{
    position: relative;
    padding-right: 10px;
}
.todo_item_toggle::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 20px;
    height: 13px;
    background: url("../../image/Vector.svg") no-repeat 0 0;
}
.todo_item_hide::before{
    content: '';
    position: absolute;
    top: -6px;
    left: -33px;
    width: 20px;
    height: 13px;
    background: url("../../image/Vector.svg") no-repeat 0 0;
    transform:rotate(180deg)
}




