.App {
    height: 100vh;
    padding: 10px;
}

.main_container {
    border: 1px solid rgba(38, 40, 66, 0.12);
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    height: 100%;
    display: flex;
}
@keyframes fadeIn {
    to{
        opacity: 0.5;
    }

}

#id_1 {
    background: #E2EBFF;
    border: 1px solid #497CF6;
    border-radius: 4px;
}

#id_2 {
    background: #FFF2E0;
    border: 1px solid #FFA530;
    border-radius: 4px;
}

#id_3, #id_4 {
    background: #CFF0D6;
    border: 1px solid #2DB77B;
    border-radius: 4px;
}

Sid_5, #id_6 {
    background: #FFF2E0;
    border: 1px solid #FFA530;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
    margin: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}